/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --bg-header: #ff6900;
    --bg-body: #ffffff;
    --bg-card: #e8e8e8;
    --bg-tag: #008000;
    --bg-price: #ff0000;
    --bg-hearth: #ffffff;
    --txt-header: #ffffff;
    --txt-card: #000000;
    --txt-tag: #ffffff;
    --txt-price: #ffffff;
    --txt-hearth: #000000;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    background-color: var(--bg-body);
}
.mainContent{
    max-width: 1200px;
    margin: 0 auto;
}
.mainContent ul{
    list-style: none;
}

/*****************************************************************/
/**************************** Flexbox ****************************/
/*****************************************************************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.row-align-center{
    align-items: center;
}
.row-content-center{
    justify-content: center;
}
.little-gap{
    gap: 0.5rem;
}

/*****************************************************************/
/**************************** a-links ****************************/
/*****************************************************************/
header ul li a{
    text-decoration: none;
    color: var(--txt-header);
}


/*****************************************************************/
/***************************** Header ****************************/
/*****************************************************************/
header{
    width: 100%;
    background-color: var(--bg-header);
}
