/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --bg-header: #ff6900;
    --bg-body: #ffffff;
    --bg-card: #e8e8e8;
    --bg-tag: #008000;
    --bg-price: #ff0000;
    --bg-hearth: #ffffff;
    --txt-header: #ffffff;
    --txt-card: #000000;
    --txt-tag: #ffffff;
    --txt-price: #ffffff;
    --txt-hearth: #000000;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
