/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Background variables */
    --bg-header: #ff6900;
    --bg-body: #ffffff;
    --bg-card: #ffffff;
    --bg-tag: #008000;
    --bg-priceDiscount: #ff0000;
    --bg-heart: #ffffff;
    --bg-footer: #1a1a1a;
    /* Text colors variables */
    --txt-header: #ffffff;
    --txt-card: #000000;
    --txt-tag: #ffffff;
    --txt-priceDiscount: #ffffff;
    --txt-heart: #000000;
    --txt-heart-hover: #ff0000;
    --txt-footer: #ffffff;
    /* Size variables */
    --body-font-size: 1rem;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    background-color: var(--bg-body);
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--body-font-size);
}
main{
    padding: 90px 0 40px 0;
}
.mainContent{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.7rem;
}
.mainContent ul{
    list-style: none;
}
.txt-bold{
    font-weight: 700;
}

/*****************************************************************/
/**************************** Flexbox ****************************/
/*****************************************************************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.row-align-center{
    align-items: center;
}
.row-content-center{
    justify-content: center;
}
.little-gap{
    gap: 0.5rem;
}
.row-gap{
    row-gap: 1.5rem;
}

/*****************************************************************/
/**************************** a-links ****************************/
/*****************************************************************/
ul li a{
    text-decoration: none;
    color: var(--txt-header);
}
header .mainContent .categories ul li{
    border-bottom: 2px solid transparent;
}
header .mainContent .categories ul li:hover{
    border-bottom: 2px solid;
    color: var(--txt-header);
}

/*****************************************************************/
/***************************** Header ****************************/
/*****************************************************************/
header{
    width: 100%;
    background-color: var(--bg-header);
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 3px 5px #888888;
}
.logo img{
    width: 150px;
}

/*****************************************************************/
/****************************** Card *****************************/
/*****************************************************************/
.card{
    width: calc(100% / 3);
    min-width: 280px;
    background-color: var(--bg-card);
    color: var(--txt-card);
    padding: 10px 5px;
}
.description{
    margin-top: -5px;
}
.card .image{
    position: relative;
}
.card .image img{
    width: 100%;
}
.card .description .name{
    font-size: calc(var(--body-font-size) + 0.1rem);
    text-transform: uppercase;
}
.card .description .brand, .card .description .price{
    font-size: calc(var(--body-font-size) - 0.1rem);
}
.card .brand{
    text-transform: capitalize;
}
.card .description .price .currentPrice{
    color: var(--bg-priceDiscount);
}
.card .description .price .originalPrice{
    text-decoration: line-through;
}
.card .image img:nth-child(2){
    display: block;
}
.card .image img:nth-child(2){
    display: none;
}
.card:hover .image img:nth-child(1){
    display: none;
}
.card:hover .image img:nth-child(2){
    display: block;
    margin-bottom: 5px;
}
.card:hover{
    cursor: pointer;
}

/*****************************************************************/
/****************************** Card *****************************/
/****************************** Info *****************************/
/*****************************************************************/
.card .info{
    position: absolute;
    bottom: 3.2rem;
    left: 0;
}
.card:hover .info{
    margin-bottom: -5px;
}
.priceDiscount, .tag{
    padding: 4px 12px;
}
.priceDiscount{
    background-color: var(--bg-priceDiscount);
    color: var(--txt-priceDiscount);
}
.tag{
    background-color: var(--bg-tag);
    color: var(--txt-tag);
}

/*****************************************************************/
/****************************** Card *****************************/
/****************************** Heart *****************************/
/*****************************************************************/
.card .heart{
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--bg-heart);
    color: var(--txt-heart);
    position: absolute;
    top: 10px;
    right: 0;
}
.card .heart:hover{
    color: var(--txt-heart-hover);
}

/*****************************************************************/
/***************************** Footer ****************************/
/*****************************************************************/
footer{
    width: 100%;
    background-color: var(--bg-footer);
    color: var(--txt-footer);
    padding: 0 12px 12px 12px;
}
footer .commercialInfo ul li, footer .socials p{
    font-size: calc(var(--body-font-size) - 0.3rem);
}
footer p{
    margin-top: 12px;
    padding-bottom: 5px;
}